#conteiner{
    height: 300px;
    width: 300px;
     margin: 0px auto;
}
#broj{
    height: 80%;
    width: 100%;
    font-size: 15rem;
    text-align: center;
    color: white;

}
#dugme{
    height: 20%;
    width: 100%;
}
#start{
    height: 100%;
    width: 100%;
       
}
button{
    background-color: blue;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 3rem;
}